:root {
    --text-color-main: #F9FAF8;
    --text-color-secondary: #E5E7EB;
    --bg-color-blue: #1F2937;
    --bg-color-grey: #E5E7EB;
    --btn-color: #3882F6;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0 auto;
    width: 1024px;
    min-height: 100vh;
    flex-direction: column;
}

.full-bg {
    box-shadow: 0 0 0 100vmax var(--bg-color);
    clip-path: inset(0 -100vmax);
}

h1 {
    font-size: 48px;
    color: var(--text-color-main);
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

p {
    font-size: 18px;
    color: var(--text-color-secondary);
    margin: 0;
}

button {
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--btn-color);
    border: 0;
    padding: 10px 25px 10px 25px;
    margin: 10px 0px 10px 0px;
}

.header-section {
    --bg-color: var(--bg-color-blue);
    background-color: var(--bg-color-blue);
    color: var(--text-color-main);
    display: flex;
    flex-direction: column;
}

.header {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
}

.banner {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: flex-start;
    column-gap: 50px;
}

.header-left {
    align-self: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img {
    width: 500px;
    height: 250px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul,
li,
a {
    text-decoration: none;
    color: var(--text-color-secondary);
    list-style-type: none;
    display: flex;
    column-gap: 20px;
}

.card-list {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item p {
    color: black;
    margin-top: 20px;
    text-align: center;
}

.card-img {
    height: 170px;
    width: 170px;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: var(--btn-color);
}

.verbatim-section {
    --bg-color: var(--bg-color-grey);
    background-color: var(--bg-color-grey);
    font-style: italic;
    max-width: 900px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.verbatim-section h2 {
    font-weight: 100;
    margin: 0;
    text-align: left;
}

.verbatim-section p {
    color:black;
    font-weight: bold;
    align-self: flex-end; 
}

.cta-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: fit-content;
    width: 1024px;
    background-color: var(--btn-color);
    color: white;
    border-radius: 10px;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-button {
    border: 2px;
    border-style: solid;
    border-color: white;
}

.footer {
    --bg-color: var(--bg-color-blue);
    background-color: var(--bg-color-blue);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    padding: 30px;
}